@import url("https://fonts.googleapis.com/css?family=Poppins");
* {
  font-family: "Poppins";
  font-size: 16px;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #16161e;
}

pre {
  background-color: rgb(27, 27, 39);
  border: 1px solid black;
  margin: 20px; 
  padding: 1.5rem;
  color: #afb012;
  }

.json-key {
  color: #659fe6;
  }
.json-value {
  color:#e49763;
  }
.json-string {
  color: #8ecb68;
  }


::-webkit-scrollbar {
  width: 20px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(220, 229, 247);
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(220, 229, 247);
}
