@import url('https://fonts.googleapis.com/css?family=Poppins');

* {
    background-color: rgb(27, 27, 39);
    color: #a9b1d6;
    font-family: 'Poppins';
    font-size: 30px;
    margin: 0;
}



.resetbtn {
    position: relative;
    margin-left: 3.1rem;
    margin-top: 0.5rem;
    display: inline-block;
    font-weight: bold;
    padding: 7px 10px 10px 10px;
    text-decoration: none;
    color: #FFF;
    background: #a180dc;
    transition: .4s;
    border-radius: 15px;
}

.resetbtn:hover {
    background: #91b5fb;
}

::-webkit-scrollbar {
    width: 20px;
    height: 10px;
}
  
::-webkit-scrollbar-track {
    background-color: transparent;
}
  
::-webkit-scrollbar-thumb {
    background-color: rgb(220, 229, 247);
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgb(220, 229, 247);
}
  
html, body {
    height: 100%;
    margin: 0;
}

.container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 { 
    margin-bottom: 10%;
    text-align: center;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.settings div {
    margin-bottom: 10%;
}

label {
    color: #787c99;
    width:180px;
    clear:left;
    padding-right:60px;
    padding-bottom: 30px;
}

input, label {
    float:left;
}


