@import url("https://fonts.googleapis.com/css?family=Roboto+Mono");

body {
  background-color: var(--background);
}

* {
  font-family: "Roboto Mono";
  font-size: 16px;
  margin: 0;
  box-sizing: border-box;
}

pre {
  /* border: 1px solid black; */
  color: var(--other);
  margin: 20px;
  padding: 1.5rem;
  background-color: var(--foreground);
}

.json-key {
  color: var(--json-key);
}

.json-value {
  color: var(--json-value);
}

.json-string {
  color: var(--json-string);
}

::-webkit-scrollbar {
  width: 20px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(220, 229, 247);
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(220, 229, 247);
}
